doctype html
html(lang="en")
  head
    title Reversi
    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='client.js')
  body
    div(id='playerNum')
    div(id='turn')
    table(style='border-collapse:collapse;')
      tr
        td(id="00")
          img(src='images/emptytile.png')
        td(id="01")
          img(src='images/emptytile.png')
        td(id="02")
          img(src='images/emptytile.png')
        td(id="03")
          img(src='images/emptytile.png')
        td(id="04")
          img(src='images/emptytile.png')
        td(id="05")
          img(src='images/emptytile.png')
        td(id="06")
          img(src='images/emptytile.png')
        td(id="07")
          img(src='images/emptytile.png')
      tr
        td(id="10")
          img(src='images/emptytile.png')
        td(id="11")
          img(src='images/emptytile.png')
        td(id="12")
          img(src='images/emptytile.png')
        td(id="13")
          img(src='images/emptytile.png')
        td(id="14")
          img(src='images/emptytile.png')
        td(id="15")
          img(src='images/emptytile.png')
        td(id="16")
          img(src='images/emptytile.png')
        td(id="17")
          img(src='images/emptytile.png')
      tr
        td(id="20")
          img(src='images/emptytile.png')
        td(id="21")
          img(src='images/emptytile.png')
        td(id="22")
          img(src='images/emptytile.png')
        td(id="23")
          img(src='images/emptytile.png')
        td(id="24")
          img(src='images/emptytile.png')
        td(id="25")
          img(src='images/emptytile.png')
        td(id="26")
          img(src='images/emptytile.png')
        td(id="27")
          img(src='images/emptytile.png')
      tr
        td(id="30")
          img(src='images/emptytile.png')
        td(id="31")
          img(src='images/emptytile.png')
        td(id="32")
          img(src='images/emptytile.png')
        td(id="33")
          img(src='images/bluetile.png')
        td(id="34")
          img(src='images/redtile.png')
        td(id="35")
          img(src='images/emptytile.png')
        td(id="36")
          img(src='images/emptytile.png')
        td(id="37")
          img(src='images/emptytile.png')
      tr
        td(id="40")
          img(src='images/emptytile.png')
        td(id="41")
          img(src='images/emptytile.png')
        td(id="42")
          img(src='images/emptytile.png')
        td(id="43")
          img(src='images/redtile.png')
        td(id="44")
          img(src='images/bluetile.png')
        td(id="45")
          img(src='images/emptytile.png')
        td(id="46")
          img(src='images/emptytile.png')
        td(id="47")
          img(src='images/emptytile.png')
      tr
        td(id="50")
          img(src='images/emptytile.png')
        td(id="51")
          img(src='images/emptytile.png')
        td(id="52")
          img(src='images/emptytile.png')
        td(id="53")
          img(src='images/emptytile.png')
        td(id="54")
          img(src='images/emptytile.png')
        td(id="55")
          img(src='images/emptytile.png')
        td(id="56")
          img(src='images/emptytile.png')
        td(id="57")
          img(src='images/emptytile.png')
      tr
        td(id="60")
          img(src='images/emptytile.png')
        td(id="61")
          img(src='images/emptytile.png')
        td(id="62")
          img(src='images/emptytile.png')
        td(id="63")
          img(src='images/emptytile.png')
        td(id="64")
          img(src='images/emptytile.png')
        td(id="65")
          img(src='images/emptytile.png')
        td(id="66")
          img(src='images/emptytile.png')
        td(id="67")
          img(src='images/emptytile.png')
      tr
        td(id="70")
          img(src='images/emptytile.png')
        td(id="71")
          img(src='images/emptytile.png')
        td(id="72")
          img(src='images/emptytile.png')
        td(id="73")
          img(src='images/emptytile.png')
        td(id="74")
          img(src='images/emptytile.png')
        td(id="75")
          img(src='images/emptytile.png')
        td(id="76")
          img(src='images/emptytile.png')
        td(id="77")
          img(src='images/emptytile.png')